<% for (p of planets) {%> <% if (page.url === `/${p.name.toLowerCase()}/` ||
(page.url === "/" && `${p.name.toLowerCase()}` === "earth" ) ) {%>

<div class="submenu" id="<%= p.name.toLowerCase() %>-buttons">
  <button class="contentButton overview">Overview</button>
  <button class="contentButton structure">Structure</button>
  <button class="contentButton surface">Surface</button>
</div>

<div class="planet-box">
  <img
    class="outside-planet <%= p.name.toLowerCase() %>-size"
    src="<%= p.images.planet %>"
    alt="Illustration of <%= p.name %>"
  />
  <img
    class="inside-planet <%= p.name.toLowerCase() %>-size"
    src="<%= p.images.internal %>"
    alt="Internal view of <%= p.name %>"
  />
  <img
    class="real-planet"
    src="<%= p.images.geology %>"
    alt="Geology of <%= p.name %>"
  />
</div>

<div class="information">
  <h2><%= p.name %></h2>
  <section class="facts outside-txt">
    <p><%= p.overview.content %></p>
    <a href="<%= p.overview.source %>">Wikipedia</a>
  </section>
  <section class="facts inside-txt">
    <p><%= p.structure.content %></p>
    <a href="<%= p.structure.source %>">Wikipedia</a>
  </section>
  <section class="facts real-txt">
    <p><%= p.geology.content %></p>
    <a href="<%= p.geology.source %>">Wikipedia</a>
  </section>
</div>
<div class="hard-facts">
  <p class="facts-txt">Rotation time <%= p.rotation %></p>
  <p class="facts-txt">Revolution time <%= p.revolution %></p>
  <p class="facts-txt">Radius <%= p.radius %></p>
  <p class="facts-txt">Average Temp. <%= p.temperature %></p>
</div>

<% } } %>
